/LISTA_02/Ex10/nbproject/private/
/LISTA_02/Ex10/build/
/LISTA_02/Ex10/dist/
/LISTA_02/Aula09/nbproject/private/
/LISTA_02/Aula09/build/
/LISTA_02/Aula09/dist/
/LISTA_02/Aula10/nbproject/private/
/LISTA_02/Aula10/build/
/LISTA_02/Aula10/dist/
/LISTA_02/Aula11/nbproject/private/
/LISTA_02/Aula11/build/
/LISTA_02/Aula11/dist/
/LISTA_02/Principal/nbproject/private/
/LISTA_02/Principal/build/
/LISTA_02/Principal/dist/
