/LISTA_02/Ex10/nbproject/private/
/LISTA_02/Ex10/build/
/LISTA_02/Ex10/dist/
/LISTA_02/Aula09/nbproject/private/
/LISTA_02/Aula09/build/
/LISTA_02/Aula09/dist/
/LISTA_02/Aula10/nbproject/private/
/LISTA_02/Aula10/build/
/LISTA_02/Aula10/dist/
/LISTA_02/Aula11/nbproject/private/
/LISTA_02/Aula11/build/
/LISTA_02/Aula11/dist/
/LISTA_02/Principal/nbproject/private/
/LISTA_02/Principal/build/
/LISTA_02/Principal/dist/
/LISTA_02/Teste/nbproject/private/
/LISTA_02/Teste/dist/
/LISTA_02/Teste/build/
/LISTA_02/Ex01/nbproject/private/
/LISTA_02/Ex02/nbproject/private/
/LISTA_02/Ex01/build/
/LISTA_02/Ex01/dist/
/LISTA_02/Ex02/build/
/LISTA_02/Ex02/dist/
/LISTA_02/Ex03/nbproject/private/
/LISTA_02/Ex03/build/
/LISTA_02/Ex03/dist/
/LISTA_02/Ex04/nbproject/private/
/LISTA_02/Ex04/build/
/LISTA_02/Ex04/dist/
/LISTA_02/Ex06/nbproject/private/
/LISTA_02/Ex06/dist/
/LISTA_02/Ex06/build/
/LISTA_02/Ex07/nbproject/private/
/LISTA_02/Ex07/build/
/LISTA_02/Ex07/dist/
/LISTA_02/Ex08/nbproject/private/
/LISTA_02/Ex08/dist/
/LISTA_02/Ex08/build/
/LISTA_02/Ex09/nbproject/private/
/LISTA_02/Ex09/build/
/LISTA_02/Ex09/dist/
/LISTA_02/Ex05/nbproject/private/
/LISTA_02/SimuladorEscalonamento/nbproject/private/
/ClassesInternasAnonimas/nbproject/private/
/ClassesInternasAnonimas/build/
/ClassesInternasAnonimas/dist/
/Aula13/nbproject/private/
/Aula13/dist/
/Aula13/build/
/Revisao/nbproject/private/
/Revisao/build/
/Revisao/dist/
/LISTA_03/ex10/nbproject/private/
/LISTA_03/ex10/build/
/LISTA_03/ex10/dist/
/LISTA_03/Ex06/nbproject/private/
/LISTA_03/Ex06/build/
/LISTA_03/Ex06/dist/
/LISTA_03/Ex07/nbproject/private/
/LISTA_03/Ex07/build/
/LISTA_03/Ex07/dist/
/LISTA_03/Ex08/nbproject/private/
/LISTA_03/Ex08/build/
/LISTA_03/Ex08/dist/
/LISTA_03/Ex09/nbproject/private/
/LISTA_03/Ex09/build/
/LISTA_03/Ex09/dist/
/TesteFacade/nbproject/private/
/TesteFacade/build/
/TesteFacade/dist/
/ExercicioFacade/nbproject/private/
/ExercicioFacade/build/
/ExercicioFacade/dist/
/TesteDelegacao/nbproject/private/
/TesteDelegacao/build/
/TesteDelegacao/dist/
/TesteInterfaceDelegacao/nbproject/private/
/TesteInterfaceDelegacao/build/
/TesteInterfaceDelegacao/dist/
/TesteIterator/nbproject/private/
/TesteIterator/build/
/TesteIterator/dist/
/TesteAdapter/nbproject/private/
/TesteAdapter/build/
/TesteAdapter/dist/
/TesteSigleton/nbproject/private/
